.game {
  font-family: "Ubuntu", sans-serif;
  background: white;
  margin-top: 10%;
  margin-left: 14.5%;
  margin-right: 14.5%;
  margin-bottom: 20%;


  &-quit {
    float: right;
    margin: 10px 10px 26px 0px;
    border: solid 1px;
    padding: 5px;
    color: silver;
  }

  &-word {
    text-align: center;
    margin: 0px 17px 0px 17px;
    line-height: 20px;
  }

  &-wrong {
    float: left;
    margin: 36px 0px 19px 9px;
    background: red;
    padding: 10px;
    display: block;
  }

  &-true {
    float: right;
    display: block;
    background: greenyellow;
    margin: 36px 9px 19px 0px;
    padding: 10px;
  }
}