header {
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 100%;
  height: 70px;
  background: #008066;
  line-height: 70px;
  padding: 10px 30px 10px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100%;
    width: 35%;

    a {
      color: #ebebeb;
      font-size: 24px;
      text-decoration: none;
      display: block;
    }
  }

  img {
    width: 150px;
    height: 50px;
  }

  #hamburger {
    width: 23px;
    height: 18px;
    background: #008066;
    float: right;
    border: 0;
    color: white;
    font-size: 28px;
    margin-top: 12px;
  }
}