/*
moible
 */
body{
  margin: 0;
}

header {
  width: 100%;
  height: 72px;
  background: #008066;
  line-height: 72px;
  padding: 20px;
}

header nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100%;
  width: 35%;
}

header nav a {
  color: #ebebeb;
  font-size: 24px;
  text-decoration: none;
  display: block;
}

header img {
  height: auto;
  width: auto;
}

#hamburger {
  width: 90px;
  height: 90px;
  background: #008066;
  float: right;
  border: 0;
}
