@import 'variables';
@import 'mixins';
@import 'modules/header';
@import 'modules/hero';
@import 'modules/play';
@import 'modules/footer';
@import 'modules/game';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('../build/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 98vh;
  background-position: center;

  &.game-started {
    .game {
      display: block;
    }

    .play {
      display: none;
    }

    .hero {
      display: none;
    }
  }
}


a, button {
  outline: none;
}

